includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 5

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#Access to an undefined property App\\Http\\Resources\\Api\\V1\\.+#'

    excludePaths:
